<div class='container mt-5'>
  <h1>Nuevo Restaurant</h1>

  <%= render "form" %>
  <hr>
  <%= link_to restaurants_path do %>
    <i class="fa-solid fa-arrow-rotate-left"></i> Back to list
    <% end %>

  </div>
